@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@media print {
    @page {
      size: A4 landscape;
      margin: 0;
    }
    body { 
      margin: 0;
      padding: 0;
    }

    
  }